network:
  version: 2
  renderer: networkd
  ethernets:
    {{ INTERFACE_NAME.stdout }}:
      addresses:
        - {{ variables.network.TARGET_IP_ADDRESS }}
      nameservers:
        addresses: [{{ variables.network.DNS_SERVER }}]
      routes:
        - to: default
          via: {{ variables.network.DEFAULT_GATEWAY  }}
